<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Remove Index">
                    <match url=".*" />
                    <action type="Rewrite" url="index.php/{R:0}" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
        <staticContent>            
        	<clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:00:00" />
        </staticContent>
        <caching enabled="false" enableKernelCache="false" />
       <!--  <httpProtocol>
        	<customHeaders>
        		<add name="Cache-Control" value="no-cache, no-store" />
        		<add name="Pragma" value="no-cache" />
        		<add name="Expires" value="-1" />
        	</customHeaders>
        </httpProtocol> -->
    </system.webServer>
</configuration>
